<h2><u><span style="color:black">Products</span></u></h2>
<div *ngFor = "let product of productInside">
<b><span style="color:blue">{{product.id}}</span></b>
    )<b><span style="color:green">{{product.name}}</span></b><br>
    <b><span style="color:red">Price: Rs.{{product.price}}</span></b><br>
    <b><span style="color:purple">{{product.description}}</span></b><br><br>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->